/*** Import Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

/*** Variables ***/
$Lato: 'Lato', sans-serif;
$Open-sans: 'Open Sans', sans-serif;
$dark-gray: #3c3c3c;
$light-gray: #a6a6a6;
$UIblue: #3CBBF7;
$UIred: #E74C3C;
$UIyellow: #F8E71C;
$UIgreen: #13bf11;
$dark-brown: #542900;

/* -------------------------------- 
		General Style
-------------------------------- */

html,
body {
  font-family: $Lato;
  font-weight: 300;
}

/*** Navbar ***/

.navbar-container {
  top: 0;
  left: 50%;
  margin-right: 50%;
  z-index: 10;
  width: 100%;
  height: 70px;
  display: flex;
}

.nav,
.navbar {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  font-family: $Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: nowrap;

  a {
    color: $dark-gray;
    text-decoration: none;
  }

  .nav-item {
    padding: 5px 0;
    border: 1px solid transparent;
  }
  .nav-item:hover {
    font-weight: 900;
  }
  .nav-item:active {
    border-bottom: 1px solid $dark-gray;
    border-style: groove;
  }

}

.active {
  &:after {
    height: 2px !important;
    background: #e74c3c !important;
  }
}

// mobile and tablet layouts
@media only screen and (max-width: 596px) {
  .nav,
  .navbar {
    justify-content: space-evenly;
    font-size: 16px;
    padding-inline-start: 0;
  }
}

@media only screen and (max-width: 320px) {
  .nav,
  .navbar {
    letter-spacing: normal;
  }
}