div#resume-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-rows: auto;

  p {
    margin: 0 0 0.5rem;
    font-size: 16px;
    font-weight: 400;
  }
  p.subsection-title {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 19px;
    color: #1f1d1d;
  }

  h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 2rem;
    margin: 0;
    color: #1f1d1d;
  }

  ul {
    margin-top: 0;
    font-size: 17px;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: rgb(128, 193, 255);
  }
}

div#left-col {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

section#contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  
  div#logo {
    display: flex;
    flex-direction: column;
    img {
      height: auto;
      width: auto;
      max-height: 195px;
    }
  }
  div#contact-links {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    a {
      padding-bottom: 0.25rem;
    }
  }
}
section#skills {
  display: flex;
  flex-direction: column;
}
// section#education {

// }

div#right-col {
  display: grid;
  grid-template-rows: auto;
}

section#summmary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
section#summary p {
  font-size: 19px;
}


section#experience {
  padding-right: 3rem;
  a {
    display: block;
    font-size: 17px;
  }
  ul {
    padding-inline-start: 1.2rem;
  }
}

